In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

### IFSC Code:

Every bank branch operating in the country is identified by its own unique IFSC code. 

* The first four characters are alphabets and tell the name of the bank. They remain the same for every bank branch.

* The fifth character is zero.

* The last 6 characters represent the bank branch and they are usually numeric. 

The code is assigned by the Reserve Bank of India. Any transfer system thatâ€™s regulated by the RBI will require the use of an IFSC code.

In [2]:
df = pd.read_csv('/home/yaggi/Desktop/dumps/bank_statement_dump.csv')
df

,uuid,application_id,account_number,password,bank,ifsc,file_id,status,reject_reason,statement_from,...,has_password,request_id,id,bank_statement_id,date,details,amount,balance,lender,created_at.1
0,2f446136-16e6-4214-bd4d-5d288712f106,60453,NaN,vemu0407,icici,ICIC0000040,424941,approved,NaN,2019-02-01T05:30:00+05:30,...,True,NaN,0.0,2f446136-16e6-4214-bd4d-5d288712f106,2019-02-01T05:30:00+05:30,VPS/INDRA PETRO/201902011055/903205048181/HYDE...,-100.00,1837.18,NaN,2019-08-15T22:53:47.792737+05:30
1,2f446136-16e6-4214-bd4d-5d288712f106,60453,NaN,vemu0407,icici,ICIC0000040,424941,approved,NaN,2019-02-01T05:30:00+05:30,...,True,NaN,1.0,2f446136-16e6-4214-bd4d-5d288712f106,2019-02-01T05:30:00+05:30,UPI/903211102367/Rapido/peeyushlpu@okhd/HDFC B...,21.00,1858.18,NaN,2019-08-15T22:53:47.792737+05:30
2,2f446136-16e6-4214-bd4d-5d288712f106,60453,NaN,vemu0407,icici,ICIC0000040,424941,approved,NaN,2019-02-01T05:30:00+05:30,...,True,NaN,2.0,2f446136-16e6-4214-bd4d-5d288712f106,2019-02-01T05:30:00+05:30,UPI/903212343016/Payment from Ph/EURONET@ybl/Y...,-9.00,1849.18,NaN,2019-08-15T22:53:47.792737+05:30
3,2f446136-16e6-4214-bd4d-5d288712f106,60453,NaN,vemu0407,icici,ICIC0000040,424941,approved,NaN,2019-02-01T05:30:00+05:30,...,True,NaN,3.0,2f446136-16e6-4214-bd4d-5d288712f106,2019-02-01T05:30:00+05:30,MMT/IMPS/903216530756/FUND TRANSFER/ROPPEN TRA...,636.24,2485.42,NaN,2019-08-15T22:53:47.792737+05:30
4,2f446136-16e6-4214-bd4d-5d288712f106,60453,NaN,vemu0407,icici,ICIC0000040,424941,approved,NaN,2019-02-01T05:30:00+05:30,...,True,NaN,4.0,2f446136-16e6-4214-bd4d-5d288712f106,2019-02-01T05:30:00+05:30,VISA REF MOHSIN MOTOR NEEDS,0.75,2486.17,NaN,2019-08-15T22:53:47.792737+05:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,3f7a3172-103e-4944-a8eb-d3b6675481d7,64338,NaN,kirt1206,icici,ICIC0000552,461226,approved,NaN,2018-12-01T05:30:00+05:30,...,True,NaN,36.0,3f7a3172-103e-4944-a8eb-d3b6675481d7,2018-12-12T05:30:00+05:30,NFS/WDL RVSL/12-12-18/055201548478,10000.00,84881.33,NaN,2019-09-17T10:18:32.409865+05:30
1048571,3f7a3172-103e-4944-a8eb-d3b6675481d7,64338,NaN,kirt1206,icici,ICIC0000552,461226,approved,NaN,2018-12-01T05:30:00+05:30,...,True,NaN,37.0,3f7a3172-103e-4944-a8eb-d3b6675481d7,2018-12-12T05:30:00+05:30,IIN/I-Debit/PayTM /20181212120121,-4800.00,80081.33,NaN,2019-09-17T10:18:32.409865+05:30
1048572,3f7a3172-103e-4944-a8eb-d3b6675481d7,64338,NaN,kirt1206,icici,ICIC0000552,461226,approved,NaN,2018-12-01T05:30:00+05:30,...,True,NaN,38.0,3f7a3172-103e-4944-a8eb-d3b6675481d7,2018-12-12T05:30:00+05:30,NFS/CASH WDL/12-12-18,-6000.00,74081.33,NaN,2019-09-17T10:18:32.409865+05:30
1048573,3f7a3172-103e-4944-a8eb-d3b6675481d7,64338,NaN,kirt1206,icici,ICIC0000552,461226,approved,NaN,2018-12-01T05:30:00+05:30,...,True,NaN,39.0,3f7a3172-103e-4944-a8eb-d3b6675481d7,2018-12-13T05:30:00+05:30,MIN/Rentomojo /20181213002602/1,-1450.00,72631.33,NaN,2019-09-17T10:18:32.409865+05:30
1048574,3f7a3172-103e-4944-a8eb-d3b6675481d7,64338,NaN,kirt1206,icici,ICIC0000552,461226,approved,NaN,2018-12-01T05:30:00+05:30,...,True,NaN,40.0,3f7a3172-103e-4944-a8eb-d3b6675481d7,2018-12-14T05:30:00+05:30,IIN/I-Debit/Amazon /20181214013653,-13990.00,58641.33,NaN,2019-09-17T10:18:32.409865+05:30

In [3]:
df.columns

Index(['uuid', 'application_id', 'account_number', 'password', 'bank', 'ifsc',
       'file_id', 'status', 'reject_reason', 'statement_from', 'statement_to',
       'password_hint', 'score', 'created_at', 'has_password', 'request_id',
       'id', 'bank_statement_id', 'date', 'details', 'amount', 'balance',
       'lender', 'created_at.1'],
      dtype='object')

In [4]:
df.status.value_counts()

approved    954476
pending      94099
Name: status, dtype: int64

In [5]:
df.reject_reason.value_counts()

insufficient_max_limit    2986
corrupt_file              1769
parse_save_failed          357
password_unknown            52
Name: reject_reason, dtype: int64

In [6]:
df.lender.value_counts() #-> lender Exists Feat Engg.

Camden town technologies               2544
Finnovation Tech Solutions Pvt. Ltd    2520
IVL Finance                            1429
Bajaj Finance                           894
KrazeyBee                               827
Ashish Securities                       724
Personal Loan - Unknown Lender          699
Home Credit                             642
ICICI Bank                              536
SmartCoin                               532
Bhanix Finance                          429
Akara Capital                           427
PaySense                                396
E-Pay later                             355
DMI Finance                             311
Vivifi Tech                             304
Sunidhi Capital                         237
HDFC Bank                               173
IIFL                                    152
flashcash                               113
Mannapuram finance                      108
Other Loan                               89
TATA Capital                             79
Tushar Leasing                           72
FlexSalary                               55
Aditya Birla Finance                     34
FairAssests pvt ltd                      32
Muthoot Finance                          25
QuickCredit                              22
Camden town                              22
CashCare                                 19
DRP Finance                              14
HDFC Bank Loan                           13
Etyacol Technologies Pvt Ltd.            12
Aanjaneya Associates                     10
Faircent                                  9
Atd Financial                             6
Monexo Fintech                            5
Z2P Loan                                  5
Walnut Prime                              4
Seynse Technologies pvt ltd.              3
True Link                                 3
Kotak Mahindra Bank                       3
Usha Financial                            3
CitiBank                                  2
Vote4Cash                                 1
IndusInd Bank                             1
ONEMI TECHNOLOGY Solutions Pvt. Ltd       1
Name: lender, dtype: int64

In [7]:
df.drop(['uuid', 'account_number', 'password', 'status', 'reject_reason',
         'password_hint', 'score', 'created_at', 'has_password', 'request_id',
         'id', 'bank_statement_id', 'created_at.1'],axis=1,inplace=True)

In [8]:
df.columns = ['App_ID','Bank','IFSC','File_ID','Statement_Start','Statement_End','Transaction_Date','Transaction_Details','Amount','Balance','Lender']
df

,App_ID,Bank,IFSC,File_ID,Statement_Start,Statement_End,Transaction_Date,Transaction_Details,Amount,Balance,Lender
0,60453,icici,ICIC0000040,424941,2019-02-01T05:30:00+05:30,2019-02-28T05:30:00+05:30,2019-02-01T05:30:00+05:30,VPS/INDRA PETRO/201902011055/903205048181/HYDE...,-100.00,1837.18,NaN
1,60453,icici,ICIC0000040,424941,2019-02-01T05:30:00+05:30,2019-02-28T05:30:00+05:30,2019-02-01T05:30:00+05:30,UPI/903211102367/Rapido/peeyushlpu@okhd/HDFC B...,21.00,1858.18,NaN
2,60453,icici,ICIC0000040,424941,2019-02-01T05:30:00+05:30,2019-02-28T05:30:00+05:30,2019-02-01T05:30:00+05:30,UPI/903212343016/Payment from Ph/EURONET@ybl/Y...,-9.00,1849.18,NaN
3,60453,icici,ICIC0000040,424941,2019-02-01T05:30:00+05:30,2019-02-28T05:30:00+05:30,2019-02-01T05:30:00+05:30,MMT/IMPS/903216530756/FUND TRANSFER/ROPPEN TRA...,636.24,2485.42,NaN
4,60453,icici,ICIC0000040,424941,2019-02-01T05:30:00+05:30,2019-02-28T05:30:00+05:30,2019-02-01T05:30:00+05:30,VISA REF MOHSIN MOTOR NEEDS,0.75,2486.17,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1048570,64338,icici,ICIC0000552,461226,2018-12-01T05:30:00+05:30,2018-12-31T05:30:00+05:30,2018-12-12T05:30:00+05:30,NFS/WDL RVSL/12-12-18/055201548478,10000.00,84881.33,NaN
1048571,64338,icici,ICIC0000552,461226,2018-12-01T05:30:00+05:30,2018-12-31T05:30:00+05:30,2018-12-12T05:30:00+05:30,IIN/I-Debit/PayTM /20181212120121,-4800.00,80081.33,NaN
1048572,64338,icici,ICIC0000552,461226,2018-12-01T05:30:00+05:30,2018-12-31T05:30:00+05:30,2018-12-12T05:30:00+05:30,NFS/CASH WDL/12-12-18,-6000.00,74081.33,NaN
1048573,64338,icici,ICIC0000552,461226,2018-12-01T05:30:00+05:30,2018-12-31T05:30:00+05:30,2018-12-13T05:30:00+05:30,MIN/Rentomojo /20181213002602/1,-1450.00,72631.33,NaN
1048574,64338,icici,ICIC0000552,461226,2018-12-01T05:30:00+05:30,2018-12-31T05:30:00+05:30,2018-12-14T05:30:00+05:30,IIN/I-Debit/Amazon /20181214013653,-13990.00,58641.33,NaN

In [9]:
df.Statement_Start = df.Statement_Start.apply(lambda x:str(x).split('T')[0])
df.Statement_End = df.Statement_End.apply(lambda x:str(x).split('T')[0])
df.Transaction_Date = df.Transaction_Date.apply(lambda x:str(x).split('T')[0])

In [10]:
df.isnull().sum()

App_ID                       0
Bank                         2
IFSC                    268783
File_ID                      0
Statement_Start              0
Statement_End                0
Transaction_Date             0
Transaction_Details     109831
Amount                  109831
Balance                 109831
Lender                 1033679
dtype: int64

In [11]:
df[df.Transaction_Details.isnull()]

,App_ID,Bank,IFSC,File_ID,Statement_Start,Statement_End,Transaction_Date,Transaction_Details,Amount,Balance,Lender
96578,71711,kotak,NaN,369531,nan,nan,nan,NaN,NaN,NaN,NaN
96579,83589,paytm,NaN,691444,2019-05-01,2019-05-31,nan,NaN,NaN,NaN,NaN
96580,89451,axis,UTIB0000153,769897,2018-11-01,2018-11-30,nan,NaN,NaN,NaN,NaN
96581,82969,paytm,NaN,682610,nan,nan,nan,NaN,NaN,NaN,NaN
96582,65683,idfc,NaN,419556,nan,nan,nan,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042713,87912,hdfc,NaN,747421,nan,nan,nan,NaN,NaN,NaN,NaN
1042714,76166,kotak,NaN,606908,nan,nan,nan,NaN,NaN,NaN,NaN
1042715,88231,paytm,NaN,752770,2019-08-01,2019-08-31,nan,NaN,NaN,NaN,NaN
1042716,66735,federal,NaN,486918,nan,nan,nan,NaN,NaN,NaN,NaN
1042717,65647,kotak,NaN,475215,nan,nan,nan,NaN,NaN,NaN,NaN

In [12]:
df.Transaction_Date.replace('nan',np.nan,inplace=True)
df.Statement_End.replace('nan',np.nan,inplace=True)
df.Statement_Start.replace('nan',np.nan,inplace=True)

In [ ]:
sns.heatmap(df.isnull())

In [ ]:
df = df[~df.Transaction_Date.isnull()]

In [ ]:
df.isnull().sum()

In [ ]:
df = df[~df.Statement_End.isnull()]

In [ ]:
df[~df['Lender'].isnull()]

#### Temporarily Removing Null IFSCs

In [ ]:
df = df[~df['IFSC'].isnull()]
df.shape

#### Handling the Dates!

In [ ]:
df.Transaction_Date.apply(lambda x:len(str(x).split('-')[0])).value_counts()

In [ ]:
df['Transaction_Year'] = df.Transaction_Date.apply(lambda x:str(x).split('-')[0])
df.Transaction_Year.value_counts()

In [ ]:
df = df[df['Transaction_Year'].isin(['2019','2018','2020'])]

In [ ]:
df.Transaction_Date = pd.to_datetime(df.Transaction_Date)
df.Statement_End = pd.to_datetime(df.Statement_End)
df.Statement_Start = pd.to_datetime(df.Statement_Start)

In [ ]:
df.drop('Transaction_Year',axis=1,inplace=True)

In [ ]:
df.drop('Lender',axis=1,inplace=True)

In [ ]:
import re
df['New_Transaction_Details'] = df.Transaction_Details.transform(lambda X : re.sub(r"[^a-zA-Z/@]+", "~", X))

In [ ]:
df.New_Transaction_Details.transform(lambda x:True if '@' in x else False)